.root{
    -fx-focus-color: transparent;
    /*去除获得焦点时的蓝色阴影*/
    -fx-faint-focus-color: transparent;
}
.scroll-pane{
    -fx-background-insets: 0!important;
    -fx-border-width: 0!important;
}
#demoTitle{
    -fx-background-color: white;
    -fx-alignment: CENTER;
    -fx-padding: 10 0 10 0;
}
#leftScrollPane{
    -fx-border-color: white;
    -fx-background: white;
}
#accordion{
    -fx-padding: 0 2 0 0;
}
.hv-box{
    -fx-padding: 0 0 0 20;
    -fx-spacing: 25;
}
.title-one{
    -fx-font-weight: bold;
    -fx-font-size: 20;
}
.title-two{
    -fx-font-weight: bold;
    -fx-font-size: 16;
}
.title-three{
    -fx-font-weight: bold;
    -fx-font-size: 13;
}
.title-four{
    -fx-font-size: 12;
}
.titled-pane{
    -fx-max-width: 150;
}
.bg-hover-ui, .bg-ui{
    -fx-padding: 10 25 10 25;
}
#rootPane > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0;
}