#fileUploaderItem{
    -fx-background-size: cover;
    -fx-effect: dropshadow(gaussian, rgba(128, 128, 128, 0.8), 10, 0, 0, 0);
    -fx-background-color: #e0e0e0
}
#fileUploaderItem #msgOuter{
    -fx-spacing: 8;
    -fx-padding: 8 0 0 0
}
#fileUploaderItem #closeIcoOuter{
    -fx-padding: 3;
    -fx-background-color: white;
    -fx-background-radius: 9;
    -fx-alignment: CENTER;

}
#fileUploaderItem #fileNameLabel, #fileUploaderItem #fileSizeLabel{
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-effect: default-effect;
    -fx-background-radius: 10;
    -fx-padding: 1 5 1 5;
}