.ico-btn {
    -fx-padding: 2;
    -fx-background-radius: 4;
    -fx-border-width: 0;
}

.ico-btn:hover {
    -fx-background-color: rgba(128, 128, 128, 0.25);
}

.close-ico:hover * {
    -fx-fill: red;
}

.combo-box-idea:editable {
    -fx-border-color: #bababa;
    -fx-border-width: 1.5;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.combo-box-idea:editable:focused {
    -fx-border-color: main-color;
}

.combo-box-idea:editable > .text-input {
    -fx-font-size: 13;
    /*约束大小，防止过宽*/
    -fx-pref-width: 1;
    -fx-text-fill: -fx-text-base-color;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-background-color: white;
}

.combo-box-idea:editable:focused > .text-input {
    -fx-border-color: main-color;
}

.combo-box-idea:editable > .arrow-button {
    -fx-background-color: white;
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #bababa;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.combo-box-idea:editable > .arrow-button .arrow {
    -fx-shape: "M5,5.9L5,5.9C5.3,6.1,5.6,6,5.8,5.8l4.8-4.7c0.2-0.2,0.2-0.6,0-0.9l0,0c-0.2-0.2-0.7-0.2-0.9,0L5.5,4.4L1.1,0.2 c-0.2-0.2-0.7-0.2-0.9,0s-0.2,0.6,0,0.8l0,0l4.8,4.7l0,0l0,0C4.8,5.8,4.9,5.8,5,5.9L5,5.9z";
    -fx-scale-shape: false;
}

.combo-box-idea .combo-box-popup .list-view {
    /*-fx-font-size: 13;*/
    -fx-padding: 2;
    -fx-background-color: white, white;
    -fx-background-radius: 0 0 5 5;
    -fx-effect: dropshadow( three-pass-box , gray , 15, 0 , 0 , 0 );
}
.combo-box-idea .combo-box-popup .list-view .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 5;
}
.combo-box-idea  .combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #a7d2ff;
}