#calendar{
    -fx-spacing: 18;
    -fx-background-color: white;
    -fx-background-radius:10;
    -fx-effect: dropshadow(gaussian, effect-color, 10, 0, 0, 0)!important;
}
#dateMsg{
    -fx-font-weight: BOLD
}
#dateMsg:hover{
    -fx-text-fill: main-color;
}
.bottomLabel{
    -fx-text-fill: main-color;
    -fx-padding: 5;
    -fx-background-radius: 5;
}
.bottomLabel:hover{
    -fx-background-color: hover-color;
}
.dayLabel, .dayLabelTitle{
    -fx-alignment: CENTER;
    -fx-pref-width: 30;
    -fx-pref-height: 26;
    -fx-background-radius: 5;
    -fx-text-fill: rgb(128, 128, 128);
}
.blackFont{
    -fx-text-fill: black;
}
.selectedDayLabel{
    -fx-background-color: main-color!important;
    -fx-text-fill: white!important;
}
.dayLabel:hover, #lastMonth:hover, #nextMonth:hover{
    -fx-background-color: hover-color;
}
.scroll-pane{
    -fx-padding: 0;
    -fx-background: white;
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-background-insets: 0;/*防止点击时移动*/
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}
.dayPane{
    -fx-alignment: TOP_CENTER;
    -fx-max-width: 220;
    -fx-min-width: 220;
}
#lastMonth, #nextMonth{
    -fx-padding: 5;
    -fx-background-radius: 5;
}