@import "common/date-time-common.css";

.dateTimeBackground{
    -fx-border-color: main-shallow-color;
    -fx-pref-height: 30;
    -fx-pref-width: 170;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: white;
}
.dateTimeFullBackground{
    -fx-border-color: main-shallow-color;
    -fx-pref-height: 30;
    -fx-pref-width: 190;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: white;
}
.hideIcoDateTimeBackground{
    -fx-pref-width: 151!important;
}
.hideIcoDateTimeFullBackground{
    -fx-pref-width: 171!important;
}
.dateTimeBackgroundFocus{
    -fx-border-color: main-color!important;
    /*-fx-effect: dropshadow(gaussian, main-shallow-color, 10, 0, 0, 0)!important;*/
}
#dateTimeIco{
    -fx-pref-width: 23;
    -fx-pref-height: 23;
}
.dateTimeSeparator{
    -fx-font-size: 17;
}
.dateTimeSeparator *{
    -fx-fill: grey;
}
#dateControls{
    -fx-translate-x: 3;
}
#timeControls{
    -fx-translate-x: -4;
}
#dateOuterUI, #timeOuterUI{
    -fx-padding: 0!important;
}
