.text-field{
    -fx-pref-width: 17;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
.dateTimeBackground{
    -fx-border-color: #73a5f1;
    -fx-pref-height: 24;
    -fx-pref-width: 149;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: white;
}
.hideIcoDateTimeBackground{
    -fx-pref-width: 89!important;
}
.dateTimeBackgroundFocus{
    -fx-border-color: #0075FF!important;
    -fx-effect: dropshadow(gaussian, #73a5f1, 10, 0, 0, 0)!important;
}
#dateTimeIco{
    -fx-pref-width: 23;
    -fx-pref-height: 23;
}