.text-field{
    -fx-pref-width: 17;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
.dateTimeBackground{
    -fx-border-color: main-color;
    -fx-pref-height: 24;
    -fx-pref-width: 158;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: white;
}
.hideIcoDateTimeBackground{
    -fx-pref-width: 139!important;
}
.dateTimeBackgroundFocus{
    -fx-border-color: main-color!important;
    -fx-effect: dropshadow(gaussian, main-shallow-color, 10, 0, 0, 0)!important;
}
#dateTimeIco{
    -fx-pref-width: 23;
    -fx-pref-height: 23;
}
.dateTimeSeparator{
    -fx-translate-x: 87;
    -fx-font-size: 17;
}
.dateTimeSeparator *{
    -fx-fill: grey;
}
#timeControls{
    -fx-translate-x: 89;
}
#dateTimeIco{
    -fx-translate-x: 132;
}