#content{
    -fx-padding: 15;
    -fx-border-radius: 3;
    -fx-cursor: hand;
    -fx-border-style: dashed;
    -fx-background-color: #fbfbfb;
    -fx-border-color: grey;
    -fx-alignment: CENTER;
    -fx-hgap: 15;
    -fx-vgap: 15;
}
.image{
    -fx-background-size: cover;
}
.close{
    -fx-background-color: white;
    -fx-background-radius: 10;
}