#notificationVBox{
    -fx-background-color: white;
    -fx-background-radius: 3;
    -fx-effect: default-hover-effect;
    -fx-alignment: CENTER;
    -fx-padding: 15 10 15 15;
    -fx-spacing: 20;
}
.notificationVBox-small{
    -fx-padding: 10 5 10 15!important;
    -fx-spacing: 10!important;
}
.notificationVBox-small > #bottomHBox{
    -fx-padding: 0 20 0 25!important;
}
.notificationVBox-small > .topHBox{
    -fx-spacing: 10!important;
}
.notificationVBox-small > .topHBox > #tipIcoPane{
    -fx-scale-x: 1.4!important;
    -fx-scale-y: 1.4!important;
}
.notificationVBox-tiny{
    -fx-padding: 6 3 6 10!important;
    -fx-spacing: 10!important;
}
.notificationVBox-tiny > #bottomHBox{
    -fx-padding: 0 12 0 18!important;
}
.notificationVBox-tiny > .topHBox{
    -fx-spacing: 5!important;
}
.notificationVBox-tiny > .topHBox > #tipIcoPane{
    -fx-scale-x: 1.2!important;
    -fx-scale-y: 1.2!important;
}
#titleLabel{
    -fx-font-weight: BOLD;
}
#contentLabel{
    -fx-wrap-text: true;
}
.topHBox{
    -fx-alignment: CENTER;
    -fx-spacing: 15;
}
#bottomHBox{
    -fx-padding: 0 25 0 30;
}
#closeIcoPane{
    -fx-padding: 3;
    -fx-background-radius: 3;
}
#closeIcoPane:hover{
    -fx-background-color: rgba(128, 128, 128, 0.1);
}
.closeIco{
    -fx-scale-y: 0.75;
    -fx-scale-x: 0.75;
}
#tipIcoPane{
    -fx-scale-x: 1.6;
    -fx-scale-y: 1.6;
}