#pswTextField{
    -fx-padding: 4 27 4 4;
}

.password-text-field-ui #pswTextField{
    -fx-effect: innershadow(one-pass-box, rgba(128, 128, 128, 0.67), 5, 0, 1, 1);
    -fx-background-insets: 0;
    -fx-background-radius: 3;
    -fx-background-color: white;
    -fx-padding: 8 27 8 8;
}
.password-text-field-ui #pswTextField:focused{
    -fx-effect: dropshadow(two-pass-box, main-color, 5, 0, 1, 1)!important;
}

/*Size*/
.password-text-field-ui-small #pswTextField{
    -fx-padding: 4 27 4 4!important;
}
.password-text-field-ui-big #pswTextField{
    -fx-padding: 12 27 12 12!important;
}