.selectLabel{
    -fx-background-color: #0075FF;
    -fx-text-fill: white;
}
.label{
    -fx-padding: 5 10 5 10;
}
.scroll-pane{
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}
.selector{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}