/*Base*/
.combo-box-ui {
    -fx-cursor: hand;
    -fx-background-radius: 4;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-effect: normal-effect;
}
.combo-box-ui:disabled {
    -fx-opacity: 1;
}
.combo-box-ui:hover {
    -fx-effect: normal-hover-effect;
}
.combo-box-ui:focused {
    -fx-effect: normal-press-effect!important;
}
/*editable = false*/
.combo-box-ui .list-cell {
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
}
/*editable = true*/
.combo-box-ui .text-input {
    -fx-pref-height: 30;
    /*约束大小，防止过宽*/
    -fx-pref-width: 1;
    -fx-alignment: CENTER;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-accent: main-color;
}
.combo-box-ui .combo-box-popup .list-view {
    -fx-padding: 2;
    -fx-background-color: white, white;
    -fx-background-radius: 0 0 5 5;
    -fx-effect: dropshadow( three-pass-box , hover-color , 10, 0 , 0 , 0 );
}
.combo-box-ui .combo-box-popup .list-view .list-cell {
    -fx-alignment: CENTER;
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-padding: 0;
}
.combo-box-ui .combo-box-popup .list-view .list-cell:filled:selected, .combo-box-ui  .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: main-color;
    -fx-text-fill: white;
}
.combo-box-ui .combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: hover-color;
}
/*Size*/
.combo-box-ui-small .list-cell {
    -fx-pref-height: 22!important;
}
.combo-box-ui-small .text-input {
    -fx-pref-height: 22!important;
}
.combo-box-ui-big .list-cell {
    -fx-pref-height: 38!important;
}
.combo-box-ui-big .text-input {
    -fx-pref-height: 38!important;
}

/*Color*/
.combo-box-ui-normal, .combo-box-ui-normal > .arrow-button{
    -fx-background-color: normal-color;
}
.combo-box-ui-normal:hover,
.combo-box-ui-normal:focused,
.combo-box-ui-normal:hover > .arrow-button,
.combo-box-ui-normal:focused > .arrow-button{
    -fx-background-color: normal-deep-color;
}
.combo-box-ui-success, .combo-box-ui-success > .arrow-button{
    -fx-background-color: success-color;
}
.combo-box-ui-success:hover,
.combo-box-ui-success:focused,
.combo-box-ui-success:hover > .arrow-button,
.combo-box-ui-success:focused > .arrow-button{
    -fx-background-color: success-deep-color;
}
.combo-box-ui-warn, .combo-box-ui-warn > .arrow-button{
    -fx-background-color: warn-color;
}
.combo-box-ui-warn:hover,
.combo-box-ui-warn:focused,
.combo-box-ui-warn:hover > .arrow-button,
.combo-box-ui-warn:focused > .arrow-button{
    -fx-background-color: warn-deep-color;
}
.combo-box-ui-error, .combo-box-ui-error > .arrow-button{
    -fx-background-color: error-color;
}
.combo-box-ui-error:hover,
.combo-box-ui-error:focused,
.combo-box-ui-error:hover > .arrow-button,
.combo-box-ui-error:focused > .arrow-button{
    -fx-background-color: error-deep-color;
}
