/*Base*/
.combo-box-ui {
    -fx-cursor: hand;
    -fx-background-radius: 4;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-effect: default-effect;
}
.combo-box-ui:disabled {
    -fx-opacity: 1;
}
.combo-box-ui:hover {
    -fx-effect: default-hover-effect;
}
.combo-box-ui:focused {
    /*-fx-effect: default-press-effect!important;*/
}
.combo-box-ui > .arrow-button > .arrow {
    -fx-background-color: #585858!important;
}
.combo-box-ui .list-cell {
    -fx-pref-height: 30;
    -fx-alignment: CENTER;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
}
.combo-box-ui:editable > .text-input{
    -fx-pref-height: 28;
    /*约束大小，防止过宽*/
    -fx-pref-width: 1;
    -fx-alignment: CENTER;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
}

.combo-box-ui .combo-box-popup .list-view {
    -fx-padding: 2;
    -fx-background-color: white, white;
    -fx-background-radius: 0 0 5 5;
    -fx-effect: dropshadow( three-pass-box , hover-color , 10, 0 , 0 , 0 );
}
.combo-box-ui .combo-box-popup .list-view .list-cell {
    -fx-alignment: CENTER;
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-padding: 0;
}
/*popup中label选中颜色*/
.combo-box-ui .combo-box-popup .list-view .list-cell:filled:selected, .combo-box-ui  .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: main-color;
    -fx-text-fill: white;
}
.combo-box-ui .combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: hover-color;
}
/*Size*/
.combo-box-ui-small .list-cell {
    -fx-pref-height: 22!important;
}
.combo-box-ui-small:editable .text-input {
    -fx-pref-height: 20!important;
}
.combo-box-ui-big .list-cell {
    -fx-pref-height: 38!important;
}
.combo-box-ui-big:editable .text-input {
    -fx-pref-height: 36!important;
}

/*Color*/
/*normal*/
.combo-box-ui-normal, .combo-box-ui-normal > .arrow-button{
    -fx-background-color: normal-color!important;;
}
.combo-box-ui-normal:hover,
.combo-box-ui-normal:focused,
.combo-box-ui-normal:hover > .arrow-button,
.combo-box-ui-normal:focused > .arrow-button{
    -fx-background-color: normal-deep-color!important;;
}
.combo-box-ui-normal:editable:focused{
    -fx-border-color: normal-deep-color;
}
.combo-box-ui-normal:editable:focused > .arrow-button > .arrow{
    -fx-background-color: normal-deep-color!important;
}
/*success*/
.combo-box-ui-success, .combo-box-ui-success > .arrow-button{
    -fx-background-color: success-color!important;;
}
.combo-box-ui-success:hover,
.combo-box-ui-success:focused,
.combo-box-ui-success:hover > .arrow-button,
.combo-box-ui-success:focused > .arrow-button{
    -fx-background-color: success-deep-color!important;;
}
.combo-box-ui-success:editable:focused{
    -fx-border-color: success-deep-color;
}
.combo-box-ui-success:editable:focused > .arrow-button > .arrow{
    -fx-background-color: success-deep-color!important;
}
/*warn*/
.combo-box-ui-warn, .combo-box-ui-warn > .arrow-button{
    -fx-background-color: warn-color!important;;
}
.combo-box-ui-warn:hover,
.combo-box-ui-warn:focused,
.combo-box-ui-warn:hover > .arrow-button,
.combo-box-ui-warn:focused > .arrow-button{
    -fx-background-color: warn-deep-color!important;;
}
.combo-box-ui-warn:editable:focused{
    -fx-border-color: warn-deep-color;
}
.combo-box-ui-warn:editable:focused > .arrow-button > .arrow{
    -fx-background-color: warn-deep-color!important;
}
/*error*/
.combo-box-ui-error, .combo-box-ui-error > .arrow-button{
    -fx-background-color: error-color!important;;
}
.combo-box-ui-error:hover,
.combo-box-ui-error:focused,
.combo-box-ui-error:hover > .arrow-button,
.combo-box-ui-error:focused > .arrow-button{
    -fx-background-color: error-deep-color!important;
}
.combo-box-ui-error:editable:focused{
    -fx-border-color: error-deep-color;
}
.combo-box-ui-error:editable:focused > .arrow-button > .arrow{
    -fx-background-color: error-deep-color!important;
}
/*default*/
.combo-box-ui, .combo-box-ui > .arrow-button{
    -fx-background-color: system-color;
}
.combo-box-ui:hover,
.combo-box-ui:focused,
.combo-box-ui:hover > .arrow-button,
.combo-box-ui:focused > .arrow-button{
    -fx-background-color: system-hover-color;
}
.combo-box-ui:editable, .combo-box-ui:editable > .arrow-button, .combo-box-ui:editable:hover{
    -fx-background-color: transparent!important;
    -fx-effect: none!important;
}
.combo-box-ui:editable{
    -fx-border-width: 0 0 1 0;
    -fx-border-insets: 0 0 1 0;
    -fx-border-color: grey;
}
.combo-box-ui:editable:focused{
    -fx-border-width: 0 0 2 0!important;
    -fx-border-insets: 0!important;
}