.root {
    /*Base*/
    system-color: linear-gradient(to bottom, #efefef, #dcdcdc);
    system-hover-color: linear-gradient(to bottom, #f4f4f4, #e7e7e7);
    main-color: #0075FF;
    main-shallow-color: #4f9fff;
    border-color: #dcdcdc;
    effect-color: #b3d5ff;
    hover-color: #cae1ff;
    shallow-color: #e0f0fd;
    background-color: rgba(251, 251, 251);
    /*Color*/
    normal-color: #c7e3fa;
    normal-deep-color: #aad6fc;
    success-color: #9ecb9e;
    success-deep-color: #80ce80;
    warn-color: #f8da9a;
    warn-deep-color: #fccf6d;
    error-color: #f89494;
    error-deep-color: #fa7a7a;
    /*Effect*/
    default-effect: dropshadow(gaussian, rgba(128, 128, 128, 0.67), 5, 0, 1, 1);
    default-hover-effect: dropshadow(gaussian, rgba(128, 128, 128, 0.67), 10, 0, 3, 3);
    default-common-effect: dropshadow(gaussian, rgba(128, 128, 128, 0.67), 10, 0, 1, 1);
    default-press-effect: innershadow(one-pass-box, rgba(128, 128, 128, 0.67), 5, 0, 1, 1);
}
.bg-hover-ui:hover{
    -fx-background-color: effect-color!important;
}
.bg-ui{
    -fx-background-color: main-color!important;
    -fx-text-fill: white!important;
}
.radius-ui{
    -fx-background-radius: 5!important;
    -fx-border-radius: 5!important;
}
.radius-ui-big{
    -fx-background-radius: 10!important;
    -fx-border-radius: 10!important;
}
* {
    -fx-accent: main-color;
}
