.bg-hover-ui:hover{
    -fx-background-color: #cae1ff;
}
.bg-ui{
    -fx-background-color: #0075FF!important;
    -fx-text-fill: white!important;
}
.radius-ui{
    -fx-background-radius: 5!important;
    -fx-border-radius: 5!important;
}
.radius-ui-big{
    -fx-background-radius: 10!important;
    -fx-border-radius: 10!important;
}