@import "scroll-bar.css";
@import "titled-pane.css";
@import "button.css";
@import "combo-box.css";
@import "common.css";
@import "progress.css";
@import "check-box.css";
@import "radio-button.css";
@import "tab-pane.css";
@import "accordion.css";
@import "toggle-button.css";
@import "text-filed.css";
@import "password-show-field.css";
@import "text-area.css";
@import "label-ui.css";
@import "table-view.css";
.root{
    /*Base*/
    main-color: #0075ff;
    effect-color: #b3d5ff;
    hover-color: #cae1ff;
    shallow-color: #e0f0fd;
    /*Color*/
    normal-color: #c7e3fa;
    normal-deep-color: #aad6fc;
    success-color: #9ecb9e;
    success-deep-color: #80ce80;
    warn-color: #f8da9a;
    warn-deep-color: #fccf6d;
    error-color: #f89494;
    error-deep-color: #fa7a7a;
    /*Effect*/
    normal-effect: dropshadow(gaussian, rgba(128, 128, 128, 0.67), 5, 0, 1, 1);
    normal-hover-effect: dropshadow(gaussian, rgba(128, 128, 128, 0.67), 10, 0, 3, 3);
    normal-press-effect: innershadow(one-pass-box, rgba(128, 128, 128, 0.67), 5, 0, 1, 1);
}