@import "common.css";

.menu-item-ui:hover {
    -fx-background-color: hover-color;
}

.menu-item-ui {
    -fx-padding: 7 14 7 14;
    -fx-background-radius: 5;
}

/*Size*/

.menu-item-ui-small {
    -fx-padding: 4 8 4 8!important;
    -fx-background-radius: 4!important;
}

.menu-item-ui-big {
    -fx-padding: 10 20 10 20!important;
    -fx-background-radius: 6!important;
}