@import "common.css";

.menu-bar-ui * {
    -fx-accent: normal-hover-color !important;
}

.menu-bar-ui {
    -fx-background-color: linear-gradient(to right, shallow-color, background-color);
    /*-fx-border-width: 0 0 1 0;*/
    /*-fx-border-color: gray;*/
}

.menu-bar-ui .menu .text {
    -fx-fill: black;
}

.menu-bar-ui .menu:hover {
    -fx-background-color: normal-hover-color;
}

.menu-bar-ui .context-menu {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 4;
    -fx-background-color: white;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 8, 0, 0, 2);
}

/*Size*/

.menu-bar-ui .menu .label {
    -fx-padding: 3;
}

.menu-bar-ui-small .menu .label {
    -fx-padding: 1;
}

.menu-bar-ui-big .menu .label {
    -fx-padding: 5;
}