.password-show-field-ui #textField{
    -fx-effect: innershadow(one-pass-box, rgba(128, 128, 128, 0.67), 5, 0, 1, 1);
    -fx-background-insets: 0;
    -fx-background-radius: 3;
    -fx-background-color: white;
    -fx-padding: 6 27 6 6;
}
.password-show-field-ui #textField:focused{
    -fx-effect: dropshadow(two-pass-box, main-color, 5, 0, 1, 1)!important;
}

/*Size*/
.password-show-field-ui-small #textField{
    -fx-padding: 4 27 4 4!important;
}
.password-show-field-ui-big #textField{
    -fx-padding: 8 27 8 8!important;
}