.tab-pane-ui .tab{
    -fx-padding: 5 15 10 15;
    -fx-background-radius: 5;
    -fx-background-insets: 0 2 5 2;
    -fx-background-color: transparent;
}
.tab-pane-ui>*.tab-header-area{
    -fx-padding: 2 2 -2 2;
}
/* 修改tabPane颜色 */
.tab-pane-ui>*.tab-header-area>*.tab-header-background {
     -fx-text-box-border: #e0f0fd;/*背景颜色*/
    -fx-background-color: #e0f0fd;/*底部线颜色*/
}
.tab-pane-ui .tab:selected {
    -fx-background-color: white!important;
    -fx-effect: dropshadow(gaussian, rgba(128, 128, 128, 0.67), 5, 0, 1, 1) ;
}
.tab-pane-ui .tab:hover{
    -fx-background-color: rgb(0, 0, 0, 0.06);
}
/* Tab选中的时候选中其边框并修改样式 */
.tab-pane-ui:focused  .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

