@import "common.css";
/*Base*/
.root{
    table-view-bg-color: shallow-color;
    table-view-selected-color: hover-color;
    table-view-hover-color: shallow-color;
    -my-custom-table-cell-border-color: #c5c4c4;
}
.table-view-ui{
    /*解决在width够的情况下还出现水平滚动条的问题*/
    /*-fx-padding: 0 5 0 0;*/
    -fx-padding: 0;
    -fx-table-cell-border-color: -my-custom-table-cell-border-color;
}
.table-view-ui:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected {
    /*-fx-table-cell-border-color: -my-custom-table-cell-border-color;*/
}
.table-view-ui .table-row-cell:filled:selected {
    /*-fx-table-cell-border-color: -my-custom-table-cell-border-color;*/
}
/*空闲列列头*/
.table-view-ui .filler{
    -fx-background-color: table-view-bg-color;
    -fx-background-radius: 0 10 0 0;
}
/*；；ColumnResizePolicy为CONSTRAINED_RESIZE_POLICY时*/
.table-view-ui, .table-view-ui .column-header-background, .table-view-ui:constrained-resize .filler{
    -fx-background-color: transparent;
}
.table-view-ui .nested-column-header{
    -fx-background-radius: 10 0 0 0;
    -fx-background-color: table-view-bg-color;
}
.table-view-ui:constrained-resize .nested-column-header{
    -fx-background-radius: 10 10 0 0 ;
}
/*每一列的头头，也就是顶栏*/
.table-view-ui .column-header{
    -fx-background-color: transparent;
    -fx-padding: 0;
}
/*顶栏内的label*/
.table-view-ui .column-header-background .label{
    -fx-text-fill: black;
    -fx-pref-height: 40;
}
/*单元格*/
.table-view-ui .table-row-cell .table-cell{
    -fx-pref-height: 40;
    -fx-alignment: CENTER;
    -fx-border-width: 1 0 0 1;
    -fx-border-color: #bebebe;
}
/*单元格文本颜色*/
.table-view-ui .table-row-cell .table-cell,
.table-view-ui .table-row-cell .table-cell *{
    -fx-text-fill: black!important;
}
/*选中和悬浮效果*/
.table-view-ui .table-row-cell:selected .table-cell,
.table-view-ui .table-row-cell:hover .table-cell{
    /*-fx-border-color: table-view-selected-color;*/
    /*-fx-border-width: 1;*/
}
/*列头里的箭头*/
.table-view-ui .arrow{
    /*-fx-background-color: black;*/
}
/*所有行*/
.table-view-ui .table-row-cell{
    -fx-background-color: white;
    -fx-padding: 0;
    -fx-border-width: 0;
}
/*奇数行*/
.table-view-ui .table-row-cell:odd{
    /*-fx-background-color: #f1d88d;*/
}
/*选中*/
.table-view-ui .table-row-cell:selected{
    -fx-background-color: #cbe9ff !important;
}
/*悬浮*/
.table-view-ui .table-row-cell:hover{
    -fx-background-color: table-view-hover-color;
}
.table-view-ui:focused .table-row-cell:selected{
    -fx-background-color: table-view-selected-color!important;
}
/*Size*/
/*big*/
.table-view-ui-big .column-header-background .label{
    -fx-pref-height: 55!important;
}
.table-view-ui-big .table-cell{
    -fx-pref-height: 55!important;
}
/*small*/
.table-view-ui-small .column-header-background .label{
    -fx-pref-height: 30!important;
}
.table-view-ui-small .table-cell{
    -fx-pref-height: 30!important;
}
.table-view-ui-tiny .column-header-background .label{
    -fx-pref-height: 25!important;
}
.table-view-ui-tiny .table-cell{
    -fx-pref-height: 25!important;
}
/*Style*/
.table-view-ui-upright .filler{
    -fx-background-color: table-view-bg-color;
    -fx-background-radius: 0!important;
}
/*；；ColumnResizePolicy为CONSTRAINED_RESIZE_POLICY时*/
.table-view-ui-upright, .table-view-ui-upright .column-header-background, .table-view-ui-upright:constrained-resize .filler{
    -fx-background-color: transparent;
}
.table-view-ui-upright .nested-column-header{
    -fx-background-radius: 0!important;
    -fx-background-color: table-view-bg-color;
}
.table-view-ui-upright:constrained-resize .nested-column-header{
    -fx-background-radius: 0!important;
}