.text-area-ui{
    -fx-effect: default-press-effect;
    -fx-background-radius: 3;
    /*选中文本的颜色*/
    -fx-accent: main-color;
    -fx-background-color: white;
}
.text-area-ui:focused{
    -fx-effect: dropshadow(two-pass-box, main-color, 5, 0, 1, 1)!important;
}
.text-area-ui .content {
    -fx-background-insets: 0;
    -fx-background-color:white;
}