@import "common.css";

.text-field-ui {
    -fx-effect: default-press-effect;
    -fx-background-insets: 0;
    -fx-background-radius: 3;
    -fx-background-color: white;
    -fx-padding: 7;
    -fx-border-color: border-color;
    -fx-border-radius: 3;
    /*选中文本的颜色*/
    -fx-accent: main-color;
}

.text-field {
    -fx-accent: main-color;
}

.text-field-ui:focused {
    -fx-border-color: transparent;
    -fx-effect: dropshadow(two-pass-box, main-color, 5, 0, 1, 1) !important;
}

/*Size*/
.text-field-ui-tiny {
    -fx-padding: 0 !important;
}

.text-field-ui-small {
    -fx-padding: 3 !important;
}

.text-field-ui-big {
    -fx-padding: 10 !important;
}

/*Windows Style*/
.text-field-ui-windows {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: win-border-color;
    -fx-border-width: 1;
    -fx-padding: 5 8 5 8;
    -fx-effect: win-border-effect;
    -fx-accent: win-main-color;
}

.text-field-ui-windows:hover {
    -fx-border-color: win-main-color;
    -fx-effect: win-hover-effect;
}

.text-field-ui-windows:focused {
    -fx-border-color: win-main-color;
    -fx-border-width: 2;
    -fx-effect: win-focus-effect !important;
}

.text-field-ui-windows:disabled {
    -fx-background-color: win-background-color;
    -fx-border-color: win-disabled-color;
    -fx-text-fill: win-text-disabled-color;
    -fx-opacity: 0.6;
}