/*
titled-pane - titled-pane-ui
    title — HBox
        text — Label
        arrow-button — StackPane
          arrow — StackPane
    content — StackPane
*/
.titled-pane-ui > .title {
    -fx-background-color: white;
    -fx-alignment: CENTER_LEFT;
}
/*去除内容的边距*/
.titled-pane-ui > .content > * {
    -fx-padding: 0;
}
.titled-pane-ui > .content{
    -fx-background-color: white;
    -fx-border-width: 0;
}
.titled-pane-ui:focused > .title > .arrow-button > .arrow{
    -fx-effect: null;
    -fx-background-insets: 0;
}
.titled-pane-ui:expanded > .title > .arrow-button > .arrow{
    -fx-background-color: main-color;
}
.titled-pane-ui > .title > .arrow-button > .arrow{
    -fx-background-insets: 0;
}
/*Size*/
.titled-pane-ui-big > .title{
    -fx-pref-height: 36!important;
}
.titled-pane-ui-big > .title > .text{
    -fx-translate-y: -6!important;
}
