.titled-pane{
    -fx-padding: 0;
    -fx-border-color: white;
}
.titled-pane .title {
    /*-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #dc143c, #32cd32);*/
    -fx-background-insets: 2.5, 1, 2;
    -fx-background-radius: 5;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}
.titled-pane .title:hover {
    -fx-background-color: #d9d8d8;
}
.titled-pane .content{
    -fx-border-color: #d9d8d8;
    -fx-border-radius: 10;
}