@import "common.css";
.toggle-btn-ui{
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-padding: 10 15 10 15;
}
.toggle-btn-ui:hover{
    -fx-background-color: hover-color;
}
.toggle-btn-ui:selected{
    -fx-text-fill: white;
    -fx-background-color: main-color;
}